body{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
.container__inner {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.playground {
    width: 440px;
    height: 440px;
}
.playground__tooltip{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}
.playground__row {
    display: flex;
}
.playground__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}
.playground__snake-head{
    display: flex;
    
    align-items: center;
    width: 39px;
    height: 39px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 45px;
    background-color: antiquewhite;
}
.playground__snake-head_down{
    justify-content: center;
}
.playground__snake-head_up{
    padding-bottom: 35px;
}
.playground__snake-head_left{
    justify-content: flex-start;
    padding-bottom: 5px;
}
.playground__snake-head_right{
    justify-content: flex-end;
    padding-bottom: 5px;
}
.playground__snake-body{
    width: 39px;
    height: 39px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: sienna;
}
.fa-raspberry-pi{
    font-size: 30px;
}

/* Speed Buttons */
.speed-buttons {
}
.btn {
    display: block;
    margin: 10px 0;
    margin-left: 5px;
    padding: 2px 5px;
    width: 120px;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 5px;
}
.btn:hover{
    background-color: bisque;
}
.btn_active{
    background-color: rgb(0, 167, 0);
}
.btn_active:hover{
    background-color: rgb(0, 167, 0);
}


